<h1>Dữ liệu từ Controller gửi về là: @ViewBag.ìnoPerson</h1>
<form asp-action="index">
    <label>Nhập PersonId</label>
    <input type="text" name="PersonId">
    <label>Nhập họ tên:</label>
    <input type="text" name="Fullname">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
</form>

